<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- 신규 작성(445p) -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Read Page</h1>

        <!-- 제목 -->
        <div class="form-group">
            <label>Title</label>
            <!-- 읽기 전용 -->
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>

        <!-- 리뷰 개수 -->
        <div class="form-group">
            <!-- 읽기 전용 -->
            <label>Review Count</label>
            <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
        </div>

        <!-- 리뷰 평균 점수 -->
        <div class="form-group">
            <!-- 읽기 전용 -->
            <label>Review Count</label>
            <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
        </div>

        <!-- 아직 생략 -->
        <style>

        </style>

        <!-- 영화 등록할 때 함께 등록한 영화 이미지의 출력 영역 -->
        <div class="uploadResult">
            <ul>
                <li th:each="movieImage: ${dto.imageDTOList}">
                    <img th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>

        <!-- 리뷰 개수 버튼 -->
        <button type="button" class="btn btn-primary">
            Review Count
            <!-- span태그는 리뷰 개수가 보일 수 있도록 -->
            <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
        </button>

        <!-- 리뷰 모달창 영역 -->
        <!-- 리뷰 모달 -->
        <div class="reviewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- 모달 헤더 -->
                    <div class="modal-header">
                        <h5 class="modal-title">Movie Review</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- 모달 바디 -->
                    <div class="modal-body">
                        <!-- 리뷰어 -->
                        <div class="form-group">
                            <label>Reviewr ID</label>
                            <input type="text" class="form-control" name="mid">
                        </div>
                        <!-- 등급 -->
                        <div class="form-group">
                            <label>Grade<span class="grade"></span> </label>
                            <!-- 스타 -->
                            <div class="starrr"></div>
                        </div>
                        <!-- 리뷰 텍스트 -->
                        <div class="form-group">
                            <label>Review Text</label>
                            <input type="text" class="form-control" name="text" placeholder="Good Movie!">
                        </div>
                    </div>

                    <!-- 모달 푸터 -->
                    <div class="modal-footer">

                        <!-- 클로스 버튼 -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <!-- 세이브 버튼 -->
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save</button>

                        <!-- 수정 버튼 -->
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>

                        <!-- 제거 버튼 -->
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- 영화 포스터 이미지 모달창 영역 -->
        <div class="imageModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <!-- 모달 헤더 -->
                    <div class="modal-header">
                        <h5 class="modal-title">Picture</h5>

                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- 모달 바디 -->
                    <div class="modal-body">

                    </div>

                    <!-- 모달 푸터 -->
                    <div class="modal-footer">
                        <!-- 클로스 버튼 -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- 자바스크립트 -->
        <script>

            $(document).ready(function (e){



            });

        </script>

    </th:block>

</th:block>

</html>