<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- 신규 작성(445p) -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Read Page</h1>

        <!-- 제목 -->
        <div class="form-group">
            <label>Title</label>
            <!-- 읽기 전용 -->
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>

        <!-- 리뷰 개수 -->
        <div class="form-group">
            <!-- 읽기 전용 -->
            <label>Review Count</label>
            <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
        </div>

        <!-- 리뷰 평균 점수 -->
        <div class="form-group">
            <!-- 읽기 전용 -->
            <label>Review Count</label>
            <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
        </div>

        <!-- 아직 생략 -->
        <style>

        </style>

        <!-- 영화 등록할 때 함께 등록한 영화 이미지의 출력 영역 -->
        <div class="uploadResult">
            <ul>
                <li th:each="movieImage: ${dto.imageDTOList}">
                    <img th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>

        <!-- 리뷰 개수 버튼 -->
        <button type="button" class="btn btn-primary">
            Review Count
            <!-- span태그는 리뷰 개수가 보일 수 있도록 -->
            <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
        </button>

        <!-- 자바스크립트 -->
        <script>

            $(document).ready(function (e){



            });

        </script>

    </th:block>

</th:block>

</html>